// {{function_name}}.js: An AWS Lambda function.

exports.handler = function(event, context, callback) {
  console.log("Running in Lambda...");

  // An abitrary object.
  result = {
    "size": "large",
    "with_cheese": true
  };

  // This example uses an NPM package. Look in the "Makefile" to see how to
  // install packages for your Lambda function.
  //
  // var yaml = require('js-yaml');
  // console.log(yaml.safeDump(result));

  // Lambda will JSON encode the "result" object as the output of our function.
  callback(null, result);
}
